.contents_wrapper > h3 {
  font-size: 2em;
  margin: 0 auto 80px auto;
  text-align: center;
}

.form_section {
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.contents_wrapper {
  margin: 50 auto !important;
}

th {
  width: 100px;
  text-align: left;
}

.tbl_input {
  width: 200px;
  display: block;
  height: 20px;
  padding: 15px 10px 7px;
  overflow: hidden;
  background: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 0;
  border: 1px solid #ccc;
}

tr {
  display: block;
  padding-bottom: 8px;
}

.radio_btns {
  /* display: inline-block; */
  /* width: 100px; */
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
  /* border: 1px solid #ccc; */
  float: left;
  height: 30px;
  line-height: 40px;
  margin-bottom: 20px;
}

.radio_btns td {
  display: flex;
}

.radio_btns input[type='radio'] {
  position: absolute;
  width: 1px;
  /* height: 30px; */
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
}
.radio_btns input[type='radio'] + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.radio_btns input[type='radio'] + label:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 12px;
  width: 14px;
  height: 14px;
  text-align: center;
  background: #fff;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: none;
}
.radio_btns input[type='radio']:checked + label:before {
  background: #fff;
  border-color: #ea965a;
}

.radio_btns input[type='radio']:checked + label:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 5px;
  width: 14px;
  height: 14px;
  background: #ea965a;
  border-radius: 100%;
  box-shadow: none;
}

.input_submit {
  display: block;
  text-align: center;
  /* margin-left: 10px; */
}

.input_submit input,
.input_submit a {
  padding: 0 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn_submit,
.btn_cancle {
  height: 27px;
  line-height: 27px;
  /* padding: 0px 20px; */
  border: none;
  background-color: #ea965a;
  border-radius: 3px;
  font-size: 13px;
  width: 70px;
  /* display: block; */
  font-weight: normal;
  color: #fff;
  letter-spacing: -0.02em;
}

.btn_cancle {
  display: inline-block;
  padding: 0 !important;
}

/* privacy submit */

.privacy_submit {
  margin-top: 20px;
}

/* privacy submit */

/* radion button */

.td_radio {
  text-align: left;
  width: 220px;
}

.label_div {
  display: flex;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 42px;
  width: 210px;
  border: none;
  border-right: 1px solid #ccc;
  z-index: -1;
}

.tbl_input_radio {
  margin: 0;
  margin-right: 5px;
}

.idt_label:first-of-type {
  border-right: none;
}

.idt_label > input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.idt_label {
  border: 1px solid #ccc;
  /* padding: -3px; */
  cursor: default;
}

.idt_label input[type='radio'] + span {
  width: 110px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  font-weight: 600;
  z-index: 0;
}

.idt_label input[type='radio']:checked + span {
  background-color: #ea965a !important;
  border-color: #ccc;
  z-index: 2;
}

[type='radio'] {
  box-sizing: border-box;
}
