/* overall Start  */

html {
  line-height: normal;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
hr {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
button * {
  position: relative;
  top: 0;
  left: 0;
}
input {
  color: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
input::-ms-clear {
  display: none;
}
input::-webkit-search-cancel-button {
  display: none;
}
input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  line-height: initial;
}
* {
  margin: 0;
  padding: 0;
}
* .a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  color: inherit;
  letter-spacing: inherit;
  font-family: inherit;
  cursor: pointer;
}
a:link,
a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

/* overall End  */
/* mainDiv Start */

.join_main_div {
  background-color: #fdf0e0;
  min-height: 100vh;
}

.join_header {
  border-bottom: 1px solid #d6deeb;
}

.join_header_h1 {
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 1em;
}

.join_header_txt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 900;
  height: 40px;
  padding: 0 14px;
  letter-spacing: 0.01em;
  color: #ea965a;
}

/* mainDiv End */

/* form Section Start */

.join_section {
  max-width: 340px;
  margin: 0 auto;
  padding: 60px 0 70px;
}

.join_form {
  padding: 10px;
}

.join_txt_area {
  margin-bottom: 7px;
  position: relative;
}

.inner_warning {
  position: absolute;
  top: 18px;
  left: 10px;
  font-size: 13px;
  pointer-events: none;
  transition: transform 0.2s ease 0s;
  user-select: none;
  z-index: 3;
  color: rgb(230, 73, 56);
}

.input_value {
  margin-bottom: -1px;
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  padding: 21px 10px 7px;
  overflow: hidden;
  background: white;
  color: rgb(48, 53, 56);
  font-size: 15px;
  font-weight: 700;
  line-height: 0;
  box-shadow: none;
  appearance: none;
  border: 1px solid rgb(250, 186, 179);
  z-index: 1;
  border-radius: 4px;
}

.input_value_none {
  margin-bottom: -1px;
  display: block;
  position: relative;
  width: 100%;
  height: 48px;
  padding: 21px 10px 7px;
  overflow: hidden;
  background: white;
  color: rgb(48, 53, 56);
  font-size: 15px;
  font-weight: 700;
  line-height: 0;
  box-shadow: none;
  appearance: none;
  border: 1px solid rgb(250, 186, 179);
  z-index: 1;
  border-radius: 4px;
}

.addr_selection {
  display: flex;
}

.optional_area {
  position: relative;
}

.optianl_txt {
  font-size: 12px;
  padding: 6px 1px;
  color: #474e68;
}

.btn_addr {
  background-color: #ea965a;
  color: #ea965a;
  border: none;
}

.btn_addr_txt {
  color: #fff;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 14px;
  font-weight: 900;
}

.postal_wrap {
  display: flex;
  max-height: 48px;
}

.postal_input {
  display: flex;
  width: 50%;
}

.postal_wrap_1st {
  margin-right: 3px;
}

.postal_span {
  left: 25%;
}

/* form Section End */

/* login inner message */

.inner_hidden_warning {
  position: absolute;
  top: 18px;
  left: 10px;
  font-size: 15px;
  pointer-events: none;
  transition: transform 0.2s ease 0s;
  user-select: none;
  z-index: 3;
  color: #ea965a !important;
  transform: translateY(-12px) scale(0.7);
  transform-origin: left center;
}

.hidden {
  display: none;
}
