.addClass_btn_area { 
  position: relative;
  height: 50px;
/*   right: 5%; */
	width: 95%;
	display: flex;
	justify-content: center;
}
.addClass_btn_area button {
  width: 100px;
  float: right;
}
.tbl_area {
  position: relative;
  width: 95%;
  margin: 50px auto;
}

.tbl_header th{
  text-align: left;
}