.contents_header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.contents_header_inner {
  margin-right: 20px;
  /* margin-left: 20px; */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  flex: 0 1 900px;
  width: calc(100% -20px - 20px);
}

.inner_cagegories {
  box-sizing: inherit;
  overflow: hidden;
  align-items: center;
  display: flex;
}

.inner_cagegories > nav {
  width: 700px;
  padding: 10px 20px;
}

.inner_cagegories > nav > ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.inner_cagegories > nav > ul > li > a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.inner_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner_search_bar {
  margin-right: 0;
  position: relative;
  width: 204px;
  transition: width 400ms ease;
}

.search_icon {
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search_form {
  position: relative;
  width: 100%;
}

.search_input {
  padding-left: 40px;
  padding-right: 12px;
  position: relative;
  height: 36px;
  z-index: 1;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 16px;
  box-sizing: inherit;
}
