/*초기화*/
html {
  height: 100%;
}

html,
body,
div,
header,
h1,
h2,
h3,
p,
nav,
ul,
li,
section {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/*a:focus {
	outline: none;
}*/

/*숨김*/
.hidden {
  position: absolute;
  left: -9999px;
}

/*링크 스타일*/
a:link,
a:visited {
  color: rgb(37, 37, 37);
  text-decoration: none;
}
body {
  font-family: 'Pretendard';
  color: rgb(37, 37, 37);
  font-weight: 300;
  background-color: #fff;
  line-height: 1.2;
}

/*전체 레이아웃*/
header .head1,
#middle_area,
#footerInner {
  min-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

/*header 시작*/
.head1 {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    rgb(238, 162, 108),
    rgb(219, 111, 34)
  );
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  min-width: 1280px;
}
.black_head1 {
  height: 50px;
  background-image: linear-gradient(
    to bottom,
    rgb(87, 87, 87),
    rgb(39, 39, 39)
  );
  position: relative;
}
.black_head1 > a {
  z-index: 10;
}
.black_head1 img {
  height: 40px;
  margin-top: 5px;
  margin-left: 15px;
}
.black_head1 span {
  font-size: 1.5em;
  font-weight: 500;
  position: absolute;
  top: 9.5px;
  right: 62px;
  letter-spacing: 1px;
  color: rgb(231, 231, 231);
}
.header_contents {
  position: relative;
  top: -50px;
  width: 1045px;
  left: 235px;
}
.white_head1 {
  background-image: url(../images/back.png);
  position: relative;
  z-index: 10;
  background-repeat: no-repeat;
  height: 50px;
  background-size: 300px 50px;
  width: 300px;
  display: inline-block;
}
.st_name {
  display: block;
  text-align: center;
  font-size: 1.1em;
  color: rgb(37, 37, 37);
  line-height: 50px;
  letter-spacing: 2px;
  font-weight: 400;
}
.mini_menu > li {
  position: absolute;
  line-height: 50px;
  top: 0;
  right: 150px;
}
.mini_menu > li > a {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 300;
  padding-left: 20px;
}
.mini_menu > li > a::after {
  background: url(../images/down_arrow.png) no-repeat;
  background-size: 55%;
  content: '';
  display: inline-block;
  width: 30px;
  height: 15px;
  position: relative;
  top: 4px;
  left: 2px;
}
.mini_menu > li > a:hover {
  color: rgb(49, 49, 49);
  font-weight: 600;
}
.mini_menu > li > a:hover::after {
  background: url(../images/down_arrow_black.png) no-repeat;
  background-size: 55%;
  content: '';
  display: inline-block;
  width: 30px;
  height: 15px;
  position: relative;
  top: 4px;
  left: 2px;
}
.mini_menu:hover .service_menu {
  display: block;
}
.service_menu {
  display: none;
  height: 215px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4), 2px 0px 5px rgba(0, 0, 0, 0.4);
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
  background-color: #fff;
}
.service_menu::before {
  background: url(../images/servicecmenu_arrow.png) no-repeat;
  background-size: 60%;
  content: '';
  display: inline-block;
  width: 30px;
  height: 15px;
  position: absolute;
  top: -13px;
  left: 58px;
}
.service_menu > li {
  line-height: 40px;
}
.service_menu > li:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.header_contents > .btn_logout {
  position: absolute;
  right: 35px;
  top: 10px;
  background-image: linear-gradient(to bottom, #535353, rgb(46, 46, 46));
  border: none;
  color: rgb(228, 228, 228);
  padding: 5px 13px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.head2 {
  height: 30px;
  background-image: linear-gradient(
    rgb(221, 221, 221),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(221, 221, 221)
  );
  min-width: 1280px;
}
.head3 {
  height: 30px;
  background-color: #404040;
  background-image: linear-gradient(
    to bottom,
    rgb(87, 87, 87),
    rgb(39, 39, 39)
  );
  min-width: 1280px;
}
/*header끝*/

/*middle_area 시작*/
#middle_area {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.4), 2px 0px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  /* height 600 -> 650 수정 (1103, 영민) */
  /* height: 650px; => min-height 900으로 수정 (1105, 영민) */
  min-height: 900px;
  width: 100%;
  /* max-height: 100vh; */
}
#main_menu_back {
  background-color: #ea965a;
  float: left;
  height: 100vh;
  min-height: 900px;
  width: 235px;
  display: block;
}

.main_menu > li {
  background-color: #404040;
  line-height: 80px;
  margin-bottom: 5px;
  cursor: pointer;
}
.main_menu > li a {
  display: block;
}
.main_menu > .point {
  background-color: rgb(224, 224, 224);
}
.main_menu > .point a {
  color: #404040;
  font-weight: 600;
}
.main_menu > li:hover {
  background-color: rgb(224, 224, 224);
}
.main_menu > li:hover .menu_title {
  color: #404040;
  font-weight: 600;
}
.main_menu .menu_title {
  font-size: 1.5em;
  padding-left: 30px;
  color: rgb(231, 231, 231);
}
.my_page {
  position: relative;
}
.my_page_click_area::after {
  background: url(../images/my_page_down_arrow.png) no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 100;
}
.my_page_click {
  position: relative;
}
.my_page_click::after {
  background: url(../images/my_page_up_arrow.png) no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 32px;
  right: 30px;
  z-index: 100;
}
.my_page_menu {
  display: none;
  background-color: rgb(224, 224, 224);
  line-height: 50px;
  padding-left: 50px;
  height: 160px;
}
.my_page_menu a:not(.mypage_point) {
  color: #777777;
  font-weight: 400;
}
.my_page_menu li:hover > a {
  color: #404040;
  font-weight: 600;
}

.my_page_click_area {
  width: 100%;
  height: 100%;
}
.mypage_point {
  color: #404040;
  font-weight: 600;
}
/*middle_area 끝. 각 페이지별로 색 달라지게 설정해야함!*/

/*footer 시작*/
#footer {
  background-color: #404040;
  height: 100px;
  min-width: 1280px;
}
#footerInner {
  position: relative;
}
#footerInner > a {
  color: #ea965a;
  text-decoration: underline;
  text-underline-position: under;
  position: absolute;
  top: 35px;
  left: 60px;
}
#footerInner > address {
  position: absolute;
  top: 35px;
  right: 120px;
  color: #a5a5a5;
  font-style: normal;
}
#footerInner > address > span:last-child {
  margin-left: 70px;
}

#contents_area {
  overflow: hidden;
}

/* width: 100vw;
  height: 56.25vw;
  max-height: 170vh; */
